body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #e0e0e0;
    
}

nav {
    /*background-color: #e0e0e0;*/
    border-bottom: 1px solid #ccc;
    height: 40px !important;
    padding-top: 15px;
    
  
}

nav ul {
    list-style: none;
    margin: 0%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav ul li a:hover{
    color: #eeeaea;
    font-weight: bolder;
}

.container {
    display: flex;
    margin: 0 5% 0 5%;
    }

.columna-izq {
    background-color: #37494d;
    color: #fff;
    padding: 20px;
    width: 40%;
}

.columna-der {
    background-color: #fefdfd;
    padding: 20px;
    width: 70%;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-top: 0;
    padding-top: 5px;
}
.icon{
 
    width: 50px;
    height: 50px;
 }



